.message-list {
  padding: 30px;
  width: 100%;
  height: calc((100vh - 100px) / 2);
  overflow-y: scroll;
}

.message {
  padding: 10px 10px;
  background: #d1d2d3;
  border-radius: 10px;
  margin-bottom: 10px;

  &__txt {
    padding: 10px;
  }
}
