$primary-color: #1e3d59;

app-users,
app-messages-list,
app-messages-create {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
}

app-users {
  grid-area: users;
  border-right: 2px solid $primary-color;
}

app-messages-list {
  grid-area: list;
}

app-messages-create {
  grid-area: create;
  border-top: 2px solid $primary-color;
  align-items: start;
}
